<%if(locals.user) {%> <%- include("./partials/_navbar") -%>

<div class="mt-4 m-auto p-4">
  <% if(interviews &&interviews.length !==0){ %>
  <h5><%=tableHeader%></h5>
  <%-include("./partials/_interviewtable.ejs") -%> <%}else{%>
  <h2>No interviews to display</h2>
  <%}%>
</div>
<%}%>
