<head>
  <link rel="stylesheet" type="text/css" href="/css/sign_in.css" />
</head>

<div class="heading">
  <h1>Placement Cell</h1>
</div>
<div class="main">
  
  <input type="checkbox" id="chk" aria-hidden="true" />

  <div class="signup">
    <form method="post" action="/employee/register">
      <label for="chk" aria-hidden="true">Sign up</label>
      <input type="text" name="name" placeholder="Name" required />
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password"
        required
      />
      <button type="submit">Sign up</button>
    </form>
  </div>

  <div class="login">
    <form method="post" action="/employee/login">
      <label for="chk" aria-hidden="true">Login</label>
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
  </div>
</div>
